html,
body {
  height: 100%;
  margin: 0;
  background: linear-gradient(45deg, #9b3917, #d95823, #f26a23, #f6941d, #f8a93e);
  background-size: 100% 100%;
  background-position: top left;
  background-attachment: fixed;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  flex-wrap: wrap;
  padding-top: 5vh;
  
}

.header-container{
  display: flex;
  align-items: center;
}

 .header-text {

flex: 1 100%;
text-align: center;

  position: absolute;
  top:-30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 5.5vw; 
  font-weight: bold;
  font-style: italic; 
  color: #9b3917; 
  padding-top: 50px;
}

.header-image {
  display: inline-block;
  width: 50vw;
  height: 10vh;
  margin-left: 10px;

}
.mirror-image {
  transform: scaleX(-1); 
  margin-right: 10px;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
  font-size: 2vw;
  margin-right: 1vw;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  max-width: 100%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #37803a;
}

#content-container {
  position: relative;
  width: 100%;
  height: 100%; 
  min-height: calc(100% - 5vh);
}

#map-container {
  position: relative;
  z-index: 2;
  transform-style: preserve-3d;
  border: 10px solid #17379a; 
  height: 60%;
  margin: 10px;
}

#mapid {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
  transform: translate3d(0, 0, 0);
}

#loader {
  display: none;
  place-items: center;
  text-align: center;
  position: absolute;
  z-index: 2;

  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  
  width: 80%;
}

.loader-background {
  width: 20vw;
  max-width: 400px;
  grid-area: 1 / 1;
}

.loader-background img {
  display: block;
  width: 100%;
  height: auto;
}

.loader-icon {
  width: 20vw;
  max-width: 400px;
  grid-area: 1 / 1;
}

.loader-icon img {
  display: block;
  width: 100%;
  height: auto;
}

#status-update {
  position: absolute;
  display: flex;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  bottom: 5vh;
  background-color: #179b7a;
  border-radius: 5px;
  padding: 2vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
  font-size: 2vh;
  grid-area: 2/1;
}

#status-number {
  font-weight: bold;
  color: #17379a;
  font-size: 2.5vh;
  margin-left: 10px;
  margin-right: 10px;
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px) rotate(-5deg); }
  50% { transform: translateX(5px) rotate(5deg); }
  75% { transform: translateX(-5px) rotate(-5deg); }
  100% { transform: translateX(0); }
}

.shake-animation {
  animation: shake 0.5s infinite;
}

/* Custom CSS for map markers */
.custom-marker-low {
  background-color: #179b7a; 
  border-radius: 50%; 
  width: 20px; 
  height: 20px; 
  border: 2px solid #ffffff; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

.custom-marker-med {
  background-color: #d0cd20; 
  border-radius: 50%; 
  width: 20px; 
  height: 20px; 
  border: 2px solid #ffffff; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

.custom-marker-high {
  background-color: #9b3917; 
  border-radius: 50%; 
  width: 20px; 
  height: 20px; 
  border: 2px solid #ffffff; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

/* Custom CSS for map popups */
.leaflet-popup {
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5px;
  color: #333;
  width: 200px;

}

.leaflet-popup strong {
  font-weight: bold;
  color: #ff5f5f;
}

.leaflet-popup a {
  color: #007bff;
  text-decoration: none;
}

.leaflet-popup a:hover {
  text-decoration: underline;
}

/*#error-bar {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #9b3917;
  color: white;
  padding: 10px;
  z-index: 9999;
}

#error-message {
  font-weight: bold;
}*/

#footer {
  text-align: center;
}